.center{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

ion-card{
    padding: 10px;
    border-radius: 10px;
    max-width: 500px;
    min-width: 300px;
}