@font-face {
    font-family: 'Montserrat';
    src: url('/fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
}

.fondo {
    margin: 0;
    padding: 0; 
    box-sizing: border-box; 
    background-color: #00000079;
    height: 100%;
    width: 100%;
}
  
.fondo *{
    font-family: Montserrat;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh
}

.card-container{
    max-width: 700px;
    border-radius: 40px;
    text-align: center;
    padding: 30px;
}

.center-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.titulo
{
  font-size: 20px;
  font-weight: bold;
  color: black;
}

.subTitulo{
    font-size: 25px;
    color: #2D45FF;
    font-weight: 800;
    line-height: 1.5;
    margin-bottom: 10px;
}

.texto{
    font-size: 20px;
    color: black;
    font-weight: 700;
}

input{
    background-color: #fff;
}


.texto input {
    font-weight: normal;
    border: solid 1px #2D45FF;
    border-radius: 20px; /* Aplicar border-radius */
    outline: none; /* Eliminar el borde predeterminado */
    padding: 5px; /* Añadir padding para mejor apariencia */
    width: 100%; /* Asegurar que el input ocupe todo el ancho disponible */
    box-sizing: border-box; /* Incluir padding y border en el ancho total */
    margin-bottom: 10px;
    font-size: 18px;
}

.logo-form{
    max-width: 80px;
}