.menu-button:hover {
    --ion-item-background: #f0f0f0;
}

.popover-menu .logout-button:hover {
    --ion-item-background: #f0f0f0;
}

.logo {
    margin-bottom: 10px;
}
.searchbar-container {
    position: relative;
    width: 100%;
}

.search-results {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 40%;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}

.avatar-button {
    cursor: pointer;
}
.searchbar-container {
    position: relative;
    width: 100%;
}

.search-icon {
    padding: 20px;
}
  
@media (max-width: 768px) {
    .searchbar-container {
        display: none;
    }
}

.profesor-name {
    text-align: right;
}