@font-face {
    font-family: 'Montserrat';
    src: url('../../../public/fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
}

* {
    font-family: 'Montserrat', sans-serif;
}

.sideMenu {
    width: 250px;
    height: 100%;
    min-width: 250px;
    border: none;
}

.sideMenu ion-content {
    --color: #fff;
    --background: #03032b;
    --ion-item-background: #2D45FF;
    --ion-item-color: #fff;
}

.fondo {
    width: 100%;
    height: 100%;
    max-height: 100%;
    padding: 10px;
}

.container {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    padding: 10px;
    background-color: #03032b;
    border: 1px solid #fff;
}

.ionRow, .ionRow ion-col, .ionRow ion-col ion-title {
    justify-content: center;
    align-items: center;
    text-align: center;
}

.ionRow ion-col ion-title {
    font-size: 130%;
    font-weight: 700;
}

.titleContainer {
    position: relative; /* Necesario para usar ::before */
    padding-bottom: 10px;
    margin-bottom: 20px;
    font-size: 15px;
}

.titleContainer::before {
    content: '';
    position: absolute;
    bottom: 0; /* Coloca el borde en la parte inferior */
    left: 50%; /* Punto de inicio en el centro */
    transform: translateX(-50%); /* Mueve la línea hacia la izquierda para centrarla */
    width: 30%; /* Ajusta el ancho de la línea */
    height: 1px; /* Grosor del borde */
    background-color: #81E838; /* Color del borde */
}

.categoria {
    background-color: #81E838; /* Fondo verde */
    border-radius: 20px; /* Bordes redondeados */
    color: white; /* Texto blanco */
    text-align: center;
    cursor: pointer;
    border: none; /* Eliminar el borde */
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;
}

.categoria:hover {
    background-color: #68F0B4; /* Cambiar color al pasar el ratón */
}

.categoria-button {
    color: #03032b;
    --border-radius: 20px;
    width: 100%;
    margin: 15px 0px;
    --background: #81E838;
}