.peers-container {
  display: flex;
  flex-direction: column; /* Stack peers vertically */
  gap: 20px;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  flex-grow: 1;
  overflow-y: auto; /* Enable vertical scrolling */
}

.peer-container {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  text-align: center;
  width: 80%; /* Adjust width to fit within the container */
  max-width: 800px; /* Limit the maximum width */
  box-sizing: border-box;
  overflow: hidden; /* Ensure content does not overflow */
}

.peer-video {
  width: 100%;
  height: auto; /* Maintain aspect ratio */
  max-height: 300px; /* Limit the maximum height of the video */
  border-radius: 8px;
  object-fit: contain; /* Ensure the video fits within the container without stretching */
}

.peer-name {
  margin-top: 10px;
  font-weight: bold;
  color: #333;
}

.peer-video.local {
  border: 2px solid #007bff;
}

/* Añadir estilos para el video de pantalla compartida */
.screen-share-video {
  width: 100%;
  height: auto;
  max-height: 500px; /* Limit the maximum height of the screen share video */
  border: 2px solid #007bff;
  border-radius: 8px;
  object-fit: contain;
}