/* Header */
.ion-toolbar-custom {
  --background: #2D45FF; /* Cambia el color de fondo */
  color: white; /* Cambia el color del texto */
  border-bottom: 3px solid #81E838; /* Añade un borde inferior */
}

.ion-title-custom {
  font-size: 24px; /* Cambia el tamaño de la fuente */
  font-weight: bold; /* Cambia el peso de la fuente */
  text-align: center; /* Centra el texto */
}

/* Conference */

.conference-container {
  padding: 20px;
  width: 100%;
  height: 100%; /* Ajusta la altura para que el contenido ocupe todo el espacio disponible */
  box-sizing: border-box; /* Incluye el padding en el cálculo de la altura */
}

.ion-padding-bottom {
  --background: #19268b;
}

.peer-col {
  width: 100%;
  padding: 20px;
}

.peer-container {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  text-align: center;
  width: 100%; /* Adjust width to fit within the container */
  overflow: hidden; /* Ensure content does not overflow */
  margin: 0px;
  padding: 0px;
  border: 2px solid black;
}

.peer-video {
  width: 100%;
  height: auto; /* Maintain aspect ratio */
  max-height: 300px; /* Limit the maximum height of the video */
  border-radius: 8px;
  object-fit: contain; /* Ensure the video fits within the container without stretching */
}

.peer-name {
  margin-top: 10px;
  font-weight: bold;
  color: #333;
}

.peer-video.local {
  border: 2px solid #007bff;
}

.screen-share-video {
  width: 100%;
  height: auto;
  max-height: 500px; /* Limit the maximum height of the screen share video */
  border: 2px solid #007bff;
  border-radius: 8px;
  object-fit: contain;
}

/* Footer */

.control-bar {
  display: flex;
  justify-content: center; /* Centra los botones */
  align-items: center;
  border-top: 3px solid #81E838;
  width: 100%;
  height: 80px; /* Ajusta la altura del footer */
  --background: #2D45FF;
  position: relative; /* Necesario para posicionar el indicador de grabación */
}

.btn-control {
  background-color: #81E838; /* Color de fondo gris */
  color: black;
  border: 2px solid black;
  padding: 10px;
  margin: 0 10px;
  border-radius: 50%; /* Hace el botón circular */
  cursor: pointer;
  width: 50px; /* Ajusta el tamaño del botón */
  height: 50px; /* Ajusta el tamaño del botón */
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease;
}

.btn-control.exit {
  border-radius: 12px; /* Hace el botón rectangular */
  width: auto; /* Ajusta el ancho automáticamente */
  height: auto; /* Ajusta la altura automáticamente */
  padding: 10px 20px; /* Ajusta el padding */
  background-color: red; /* Color de fondo rojo */
  color: white; /* Color del texto blanco */
}

.btn-control ion-icon {
  font-size: 24px; /* Ajusta el tamaño del icono */
}

.recording-indicator {
  position: absolute;
  right: 20px;
  color: #81E838;
  font-weight: bold;
  font-size: 30px;
}