.toolbar {
  margin-left: 250px; /* Ajusta este valor según el ancho del menú lateral */
  width: calc(100% - 250px); /* Ajusta este valor según el ancho del menú lateral */

}

.toolbar::after {
  content: "";
  position: absolute;
  bottom: -10;
  left: 0;
  width: 100%;
  height: 30px;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), transparent);
  pointer-events: none;
  z-index: 10;
}

.fondo {
  --background: #03032b;
  box-shadow: none; /* Asegúrate de que no haya sombra */
}

.container-logo {
  width: 100%;
  max-width: 100px; 
  height: auto;
  padding: 10px;
  margin-top: 10%;
}

.logo{
  border-radius: 50%;
  background-color: #fff;
  padding: 2px;
}

.logo img {
  width: 100%;
  height: auto;
}

.searchbar {
  width: 70%;
  margin: auto;
  --border-radius: 20px;
}

.searchbar-container {
  position: relative;
  width: 100%;
}

.search-results {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 40%;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}

.avatar-button {
  cursor: pointer;
  border: dashed 2px black;
}

.search-icon {
  padding: 20px;
}

.textoUser{
  color: white;
  background-color: #81E838;
}

@media (max-width: 768px) {
  .searchbar-container {
    display: none;
  }
}

.profesor-name {
  text-align: right;
}